@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');



*
{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    border: none; outline: none;
    text-decoration: none;
    transition: all 0.2s linear;
}
    $green:#219150;
    $black:#10221b;
    $white:#fff;
    $light-bg:#eee;
    $border:.2rem solid $black;
    $box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
*::selection
{
    background-color: $green;
    color: $white;
    
}
@mixin grid($val) 
{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax($grid, 1fr));
    gap: 1.5rem;
}
section
{
    padding: 5rem 9%;
    
    
}
.btn
{
    margin-top: 1rem;
    display: inline-block;
    border: $border;
    color: $black;
    background: none;
    cursor: pointer;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    &:hover
    {
        background: $black;
        color: $white;
    }
}
.heading
{
text-align: center;
font-size: 4rem;
margin-bottom: 2.5rem;
color: $black;
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:5rem ;
    
    &::-webkit-scrollbar
    {
        width: 1.2rem;
    }
    &::-webkit-scrollbar-track
    {
        background: $black;
    }
    &::-webkit-scrollbar-thumb
    {
        background: $green;
    }

    body
    {
        overflow-x: hidden;
    }
}


.header
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 2rem 9%;

    &.active
    {
        background: $white;

    }
.logo
{
    font-size: 2.5rem;
    color: $black;
    margin-right: auto;
    font-weight: bolder;


i
{
    color: $green;
}

}

    .navbar
    {
        a
        {
            font-size: 1.7rem;
            color: $black;
            margin-left:2.5rem ;

            &:hover
            {
                color: $green;
            }

        }
        #nav-close
        {
            font-size: 3rem;
            color: $black;
            position: absolute;
            top: 2rem;
            right: 3rem;
            cursor: pointer;
            display: none;
            
            &:hover
            {
                color: $green;
            }
        }
     
    }
    .icons a, div
    {
        font-size: 2rem;
        color: $black;
        cursor: pointer;
        margin-left: 2rem;

        &:hover
        {
            color: $green;
        }

    #menu-bar
    {
        display: none;
    }    
    }
}

.search-form
{
    background: rgba(0,0,0,0.8);
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;

   transform: translateY(-110%);
   transform: translateY(-110%);
  
   &.active
   {
   transform: translateY(0%);

   }
    #search-close
    {
        position: absolute;
        top: 2rem;right: 3rem;
        font-size: 3rem;
        color: $white ;
        cursor: pointer;

        &:hover
        {
            color: $green;
        }

    }
    
    form
    {
        width: 70rem;
        margin: 0 2rem;
        border-bottom: .2rem solid $white;
        align-items: center;
        display: flex;

        input
        {
            width: 100%;
            margin-right: 1rem;
            font-size: 1.7rem;
            text-transform: none;
            color: $white;
            background: transparent;
            margin-bottom: 1rem;

           

        }
        label
        {
            font-size: 2rem;
            color: $white;
            cursor: pointer ;
            &:hover
            {
                color: $green;
            }
        }
    }
}

.home
{
    padding: 0;

    .box
    {
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover !important;
        background-position: center !important;
        justify-content: flex-end;
        padding: 2rem 9%;

    .content
    {
        width: 50rem;

        span
        {
            font-size: 4rem;
            color: $black;

        }
        h3
        {
            font-size: 6rem;
            color: $green;
            text-transform: uppercase;
            padding-top: .5rem;
        }
        p
        {
            line-height: 2.5rem;
            color: $black;
            font-size: 1.5rem;
            padding: 1rem 0;
        }
    }


    }
    .second
    {
        justify-content: flex-start;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after
{
    font-size: 2.5rem;
    color: $black;
}

.category
{
   
    .box-container
    {
        width: 100%;
       display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .box
        {
           text-align: center;
           padding: 2rem;
           width: 28rem;
           
           img
           {
               height: 20rem;
               width: 20rem;
               border-radius: 50%;
               margin-bottom: 1rem;
           }
           h3
           {
               font-size: 2rem;
               color: $green;
           } 
           p 
           {
               font-size: 1.7rem;
               line-height: 2rem;
               padding: 1rem 0;
               color: $black;
           }
        }
    }
}


.about
{
    background: $light-bg;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
    .image
    {
        flex: 1 1 45rem;
        padding: 0 5rem 5rem 0;
        img
        
        {
            width: 100%;
            box-shadow: 4rem 4rem 0 rgba(0,0,0,.1);
        }
    }

    .content
    {
        flex: 1 1 45rem;
        h3
    
        {
            font-size: 3rem;
            color: $green;
        }

        p
        {
            font-size: 1.5rem;
            color: $black;
            padding: 1rem;
            line-height:2;

        }
    
    }
}



.shop
{ 
    .slide
    {
        width: 35rem;
        border:$border;

&:hover .image .icons

{
transform:translateY(-1rem); 
}
        .image
        {
            position: relative;
            overflow: hidden;
            height: 30rem;
            width: 100%;
            
            img
            {
                height: 100%;
                width: 100%;
                object-fit: cover;

               
            }
            .icons
            {
                width: 100%;
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                z-index: 10;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(7rem);


                a
                {
                    height: 4.5rem;
                    width:  4.5rem;
                    line-height: 4.5rem;
                    font-size: 2.5rem;
                    background: $black;
                    color: $white;
                    margin: 0 .2rem;
                    
                    &:hover
                    {
                        color: $green;
                    }
                }
            }
        }

        .content

        {
            padding: 1rem 0;
            text-align: center;
            h3
            {
                font-size: 3rem;
                color: $green;
            }
            .price
            {
            padding: 1rem 0;

                font-size: 2.5rem;
                color: $green;               
            }
            .stars
            {
                font-size: 2rem;
                color: $black; 
            }
        }
    }
    
}



















// media query
@media (max-width:1200px)
{
    .header
    {
        padding: 2rem;
    }
    section
{
    padding: 3rem 2rem;
}

}


@media (max-width:991px)
{
   html
   {
       font-size: 55%;
       scroll-padding-top: 7rem;
   }
   .home .box{
       justify-content: center;
       background-position: right !important;
   }
   .second
   {
    justify-content: center;
    background-position: right !important;
   }

   .content
   {
       text-align: center;

       span
       {
           font-size: 3rem;
       }
       h3
       {
           font-size: 4rem;
       }
   }
}


@media (max-width:768px)
{
    
    .header
    {
       .icons
       {
           #menu-bar
           {
               display: inline-block;
           }
       }

       .navbar
       {
           position: fixed;
           background: $white;
           width: 35rem;
           height: 100vh;
           top: 0; left:-110%;
           display: flex;
           align-items: center;
           justify-content: center;
           flex-flow: column;

           &.active
           {
            left: 0%;
           box-shadow: 0 0  0 100vw rgba(0,0,0,.8);
 
           }
        #nav-close
        {
            display: inline-block;
        }
        
           a
           {
               margin: 1rem 0;
               font-size: 2.5rem;
           }
       
       }
        
    }
    .swiper-button-next::after,
.swiper-button-prev::after
{display: none;
}


}




@media (max-width:450px)
{
   html
   {
       font-size: 50%;
   }
}