@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

*::-moz-selection {
  background-color: #219150;
  color: #fff;
}

*::selection {
  background-color: #219150;
  color: #fff;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  color: #10221b;
  background: none;
  cursor: pointer;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #10221b;
  color: #fff;
}

.heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2.5rem;
  color: #10221b;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1.2rem;
}

html::-webkit-scrollbar-track {
  background: #10221b;
}

html::-webkit-scrollbar-thumb {
  background: #219150;
}

html body {
  overflow-x: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 9%;
}

.header.active {
  background: #fff;
}

.header .logo {
  font-size: 2.5rem;
  color: #10221b;
  margin-right: auto;
  font-weight: bolder;
}

.header .logo i {
  color: #219150;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #10221b;
  margin-left: 2.5rem;
}

.header .navbar a:hover {
  color: #219150;
}

.header .navbar #nav-close {
  font-size: 3rem;
  color: #10221b;
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  display: none;
}

.header .navbar #nav-close:hover {
  color: #219150;
}

.header .icons a, .header div {
  font-size: 2rem;
  color: #10221b;
  cursor: pointer;
  margin-left: 2rem;
}

.header .icons a:hover, .header div:hover {
  color: #219150;
}

.header .icons a #menu-bar, .header div #menu-bar {
  display: none;
}

.search-form {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  transform: translateY(-110%);
}

.search-form.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.search-form #search-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.search-form #search-close:hover {
  color: #219150;
}

.search-form form {
  width: 70rem;
  margin: 0 2rem;
  border-bottom: 0.2rem solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form form input {
  width: 100%;
  margin-right: 1rem;
  font-size: 1.7rem;
  text-transform: none;
  color: #fff;
  background: transparent;
  margin-bottom: 1rem;
}

.search-form form label {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.search-form form label:hover {
  color: #219150;
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem 9%;
}

.home .box .content {
  width: 50rem;
}

.home .box .content span {
  font-size: 4rem;
  color: #10221b;
}

.home .box .content h3 {
  font-size: 6rem;
  color: #219150;
  text-transform: uppercase;
  padding-top: .5rem;
}

.home .box .content p {
  line-height: 2.5rem;
  color: #10221b;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.home .second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2.5rem;
  color: #10221b;
}

.category .box-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category .box-container .box {
  text-align: center;
  padding: 2rem;
  width: 28rem;
}

.category .box-container .box img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.category .box-container .box h3 {
  font-size: 2rem;
  color: #219150;
}

.category .box-container .box p {
  font-size: 1.7rem;
  line-height: 2rem;
  padding: 1rem 0;
  color: #10221b;
}

.about {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
  padding: 0 5rem 5rem 0;
}

.about .image img {
  width: 100%;
  -webkit-box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

.about .content h3 {
  font-size: 3rem;
  color: #219150;
}

.about .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem;
  line-height: 2;
}

.shop .slide {
  width: 35rem;
  border: 0.2rem solid #10221b;
}

.shop .slide:hover .image .icons {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.shop .slide .image {
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}

.shop .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .slide .image .icons {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 10;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
}

.shop .slide .image .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2.5rem;
  background: #10221b;
  color: #fff;
  margin: 0 .2rem;
}

.shop .slide .image .icons a:hover {
  color: #219150;
}

.shop .slide .content {
  padding: 1rem 0;
  text-align: center;
}

.shop .slide .content h3 {
  font-size: 3rem;
  color: #219150;
}

.shop .slide .content .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #219150;
}

.shop .slide .content .stars {
  font-size: 2rem;
  color: #10221b;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .home .box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right !important;
  }
  .second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right !important;
  }
  .content {
    text-align: center;
  }
  .content span {
    font-size: 3rem;
  }
  .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .header .icons #menu-bar {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    background: #fff;
    width: 35rem;
    height: 100vh;
    top: 0;
    left: -110%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .header .navbar.active {
    left: 0%;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navbar #nav-close {
    display: inline-block;
  }
  .header .navbar a {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */